/* Created by: hames.al-sharoa
* Created on: Apr 2024
* This file contains the CSS for index.html
*/
.mdl-layout__header-row {
  align-items: center;
  justify-content: center;
}

.mdl-layout__content {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-top: 15pt;
}

/* Due to error in MDL : https://github.com/google/material-design-lite/issues/5281
*/
.mdl-ripple {
  background: #000;
  opacity: 0.001;
}

body {
  background-color: #f5e5e7;
}

p {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-top: 5pt;
}

#answer {
  padding-top: 15px;
  padding-left: 20px;
}

#formula {
  padding-left: 20px;
}